body {
    font-family: 'Poppins', 'Titlefont', 'Metamorhpous';
    margin: 0;
}

* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Titlefont";
    src: url(../assets/fonts/Mythology\ Of\ Egypt.otf);
}

img{
    border-radius: 20px;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.635);
    border-radius: 32px;
    margin-top: 15px;
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    flex: 1;
}

nav ul{
    flex: 1;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 24px;
    margin: 0;
    padding: 0;
    font-size: small;
    font-weight: 600;
}

.searchBar{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

h1 {
    font-family: 'Titlefont';
    font-size: 54pt;
    color: #e9ad1c;
    font-weight: 500;
}

h2{
    font-family: 'Metamorphous';
    font-size: 14pt;
    color: white;
}

.blue h3{
    font-family: 'Poppins';
    font-weight: bold;
    color: white;
    font-size: 30pt;
}

.blue h4{
    font-family: 'Poppins';
    font-size: 12pt;
    color:#e9ad1c;
}

.blue h5{
    font-family: 'Poppins';
    font-size: 16pt;
    font-weight: 600;
    color: white;
}

h6{
    font-family: 'Titlefont';
    font-size: 60pt;
    color: white;
    font-weight: 500;
}

h7{
    font-family: 'Metamorphous';
    font-size: 24pt;
    color:#e9ad1c;
}
.blue p{
    font-family: 'Poppins';
    font-size: 12pt;
    color: white;
    margin-top: 16px;
}

.slider2Col button{
    font-family: 'Poppins';
    font-size: 10pt;
    font-weight: bold;
    background-color: #15d5f5;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;

}

.hero {
    background-image: url(../assets/img/homeHeader.png);
    background-size: 100%;
}

.hero{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: flex-start;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 350px;

}
.pageTitle{
    width: 33%;
}

.blue{
    background-color: #002d68;
}
.sliderColumn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 8%;
    gap: 10%;
}

.slider2Col{
    width: 50%
}

.flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 4%;
    padding-left: 8%;
    padding-top: 4%;
    padding-bottom: 4%;
    gap: 5%;
}

.flex2Col{
    width: 50%;
}


.white h3{
    font-family: 'Poppins';
    font-weight: bold;
    color: black;
    font-size: 25pt;
}

.white h4{
    font-family: 'Poppins';
    font-size: 12pt;
    color: #15d5f5;
    font-weight: 300;
}

.white p{
    font-family: 'Poppins';
    font-size: 12pt;
    color: black;
}

.featureHead{
    justify-content: center;
    text-align: center;
    padding-top: 50px;
}
.features{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.featureCard{
    padding: 10px;
    text-align: center;
    margin: 1px;
    width: 25%;
}

.cta{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 8px;
}

.cta button{
    font-family: 'Poppins';
    font-size: 10pt;
    font-weight: bold;
    background-color: #15d5f5;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
}

.adoptHead{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../assets/img/adoptHeader.png);
    background-size: 100%;
    padding-top: 150px;
    padding-bottom: 45px;
}

.adoptSub{
    justify-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 108px;
    padding-right: 108px;

}

.adoptFoot{
    display: flex;
    justify-content: space-between;
    background-color: #e9ad1c;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 550;
    color: white;
}

.adoptFootleft{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    gap: 20px;
}

.adoptFootright{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    gap: 20px;
}

.adoptWhite{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-right: 6%;
    padding-left: 10%;
    padding-top: 6%;
    padding-bottom: 6%;
}
.adoptContainerWhite{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.adopt2Col{
    width: 50%;
}

.adoptWhite h3{
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 600;
}

.whitePrice{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 30px;
}

.adoptWhite h4{
    font-family: 'Poppins';
    font-size: 16pt;
    color: grey;
    font-weight: 500;
    padding-bottom: 10px;
}


.whiteDescription{
    font-family: 'Poppins';
    font-size: 10pt;
    padding-bottom: 20px;
    font-weight: 500;
}

.rateCreature{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
}

.rating h5{
    color:#e9ad1c;
    font-size: 12pt;
    padding-right: 40px;
}

.devider p{
    color: grey;
    font-size: 25pt;
}

.personality{
    color:grey;
    font-size: 9pt;
}

.buttonContainer{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 40px;
}

.adoptWhite button{
    font-family: 'Poppins';
    font-size: 10pt;
    font-weight: 600;
    color: white;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 6px;
    border: none;
    background-color:#15d5f5;
}


.greyText{
    color: grey;
    padding-bottom: 40px;
}

.greyText1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 90px;
    color: grey;
    font-family: 'Poppins';
    font-size: 10pt;
    padding-bottom: 20px;
}

.greyText2{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 74px;
    color: grey;
    font-family: 'Poppins';
    font-size: 10pt;
    padding-bottom: 20px;
}

.greyText3{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 86px;
    color: grey;
    font-family: 'Poppins';
    font-size: 10pt;
    padding-bottom: 20px;
}

.greyText4{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 36px;
    color: grey;
    font-family: 'Poppins';
    font-size: 10pt;
    padding-bottom: 20px;
}

.adoptBlue{
    display: flex;
    flex-direction: row;
    background-color: #002d68;
    padding-right: 6%;
    padding-left: 10%;
    padding-top: 6%;
    padding-bottom: 6%;
}

.adoptContainerBlue{
    display: flex;
    justify-content: center;
    align-items: center;
}

.adoptBlue h3{
    font-family: 'Poppins';
    font-size: 36px;
    color: white;
    font-weight: 600;
}

.adoptBlue h4{
    font-family: 'Poppins';
    font-size: 16pt;
    font-weight: 500;
    color: #15d5f5;
}

.blueDescription{
    font-family: 'Poppins';
    font-size: 10pt;
    color: white;
    padding-bottom: 40px;
}

.adoptBlue button{
    font-family: 'Poppins';
    font-size: 10pt;
    font-weight: 600;
    color: white;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 6px;
    border: none;
    background-color:#15d5f5;
}